* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-family: cursive;
  font-weight: 200;
  font-size: 16px;
}

:root {
  --index: 0;
}

i {
  color: inherit;
}

a {
  color: inherit;
  font-weight: bold;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 1px solid;
  background-color: transparent;
}
body {
  background-color: #f0e9d2;
}

.menu-bug {
  width: 100% !important;
  color: #f0e9d2 !important;
}
.menu-bug a,
.menu-bug .cont .birg {
  color: #f0e9d2 !important;
  border-color: #f0e9d2 !important;
}
.menu-scroller {
  background: #605d63 !important;
  width: 90%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.menu-click {
  background-color: #678983 !important;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border-radius: 6px;
  position: fixed;
  z-index: 9999999999999999;
  top: 5px;
  transition: all 0.25s linear;
  background-color: transparent;
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > .cont > .logo {
  display: flex;
  align-content: center;
  justify-items: center;
  padding: 0 20px;
}
.menu > .cont > .logo > a {
  display: flex;
  align-content: center;
  justify-items: center;
}
.menu > .cont > .logo > a > img {
  width: 140px;
  height: 40px;
}
.fa-bars,
.fa-bars-staggered {
  font-size: 20px;
  display: none;
  padding: 18px 20px;
  cursor: pointer;
}

.menu > .nav > ul {
  position: sticky;
  z-index: 99999999999999999;
  list-style: none;
  border-radius: 6px;
}
.menu > .nav > ul > li {
  display: inline-block;
}
.menu > .nav > ul > li > a {
  display: inline-block;
  padding: 18px 20px;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}
.menu > .nav > ul > li > a:hover {
  background: #181d31;
  color: #678983;
  animation: anim 0.5s ease-in-out;
  border-radius: 6px;
}
.active {
  border-bottom: 2px solid black;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 916px) {
  .menu > .nav {
    display: block !important;
  }
  .fa-bars {
    display: none !important;
  }
  .fa-bars-staggered {
    display: none !important;
  }
}
@media only screen and (max-width: 915px) {
  .menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu > .nav > ul > li {
    padding: 18px auto;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .menu > .nav > ul > li > a {
    width: 100%;
  }
  li:has(> .active) {
    border-bottom: 2px solid black;
  }

  .active {
    border: none;
  }
  .menu > .nav > ul > li:hover,
  .menu > .nav > ul > li:hover i,
  .menu > .nav > ul > li:hover a {
    background: #181d31;
    color: #678983;
    animation: anime 0.5s ease-in-out;
    border-radius: 6px;
  }

  .menu > .nav {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .fa-bars-staggered {
    display: none;
  }

  .menu > .nav > ul > li {
    display: block;
  }

  @keyframes anime {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(7px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
/* ///////////////////////////////////////////////////////////////////////   */
.cont-s {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slider {
  position: relative;
  height: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  cursor: all-scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider.animation {
  transition: transform 750ms ease-in-out;
}
.slider.animation .slide__darkbg {
  transition: transform 750ms ease-in-out;
}
.slider.animation .slide__text {
  transition: transform 750ms ease-in-out;
}
.slider.animation .slide__letter {
  transition: transform 750ms ease-in-out;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide--1 {
  left: 0%;
}
.slide--2 {
  left: 100%;
}
.slide--3 {
  left: 200%;
}
.slide--4 {
  left: 300%;
}
.slide--5 {
  left: 400%;
}
.slide__darkbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 10;
}
.slide__text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.slide__letter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-size: 50vw;
  font-weight: 800;
  color: #000;
  z-index: 2;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide__text {
  font-size: 8vw;
  font-weight: 800;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  letter-spacing: 12px;
  color: #fff;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide__text:nth-child(odd) {
  z-index: 2;
}
.slide__text:nth-child(even) {
  z-index: 1;
}
.slide--1__darkbg {
  left: 0%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--1-min-min.jpg")
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--1__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--1__letter {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--1-min-min.jpg")
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--2__darkbg {
  left: -50%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--2-min-min.jpg")
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--2__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--2__letter {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--2-min-min.jpg")
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--3__darkbg {
  left: -100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--3-min-min.jpg")
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--3__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--3__letter {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--3-min-min.jpg")
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--4__darkbg {
  left: -150%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--4-min-min.jpg")
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--4__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--4__letter {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--4-min-min.jpg")
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--5__darkbg {
  left: -200%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--5-min-min.jpg")
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--5__darkbg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--5__letter {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--5-min-min.jpg")
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}

.nav-s {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  z-index: 10;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .nav__slide {
    width: 12px;
    height: 12px;
  }
}
.nav__slide {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.2;
}
@media screen and (max-width: 400px) {
  .nav__slide {
    width: 15px;
    height: 15px;
  }
}

.nav-active {
  opacity: 1;
  background-color: white;
}

.side-nav {
  position: absolute;
  width: 10%;
  height: 99%;
  top: 0;
  z-index: 20;
  cursor: pointer;
  opacity: 0;
  transition: 300ms;
}
.side-nav:hover {
  opacity: 0.1;
}

.nav__slide--1 {
  margin-left: 0;
}
.side-nav--right {
  right: 0;
  outline: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #eed7ff 100%
  );
}
.side-nav--left {
  left: 0;
  outline: none;

  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    #eed7ff 100%
  );
}

/* /////////////////////////////////////////////////////////////////////// */
.foo {
  padding: 100px 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #f0e9d2;
  margin: auto;
}

/* ////////////////////////////////////////////////////////////////////////// */
.product-main {
  width: 90%;
  margin: 50px auto;
  background-color: #e6ddc4;
  padding: 18px 8px;
  border-radius: 5px;
}

.product-main > h1 {
  text-align: center;
  margin: 30px;
  font-size: 25px;
  font-weight: 700;
}
img {
  max-width: 100%;
  display: block;
}

.responsive-container {
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #d0d0d0;
  min-height: 60px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  width: 100%;
  max-width: 2000px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation a {
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.link-button {
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 0.375rem;
  padding: 0.5em 1.25em;
  color: #fff;
}
.link-button i {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
}

main {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-column {
  display: flex;
  flex-direction: column;
}
.grid-column > * + * {
  margin-top: 2rem;
}

.product {
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 400;
  transition: 0.15s ease;
  overflow: hidden;
  border: 1px solid #678983;
}
.product:hover,
.product:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #181d31;
  transform: scale(1.025);
  transition: transform 0.25s ease-in-out;
}
.product:hover .product-content,
.product:focus .product-content {
  border-color: transparent;
}

.product-image {
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
}

.product-image img {
  height: 200px;
  width: 100%;
}

.product-content {
  padding: 1rem;
  border: 1px solid #678983;
  border-radius: 0 0 0.25rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.15s ease;
  background-color: #fff;
}

.product-action {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s ease;
}
.product-action:hover {
  background-color: #ebebeb;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.125rem;
  line-height: 1.25;
}

.product-price {
  margin-top: 0.25rem;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
  color: #777;
  font-size: 0.875rem;
}
.credits a {
  display: block;
}

@media all and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .grid-column > * + * {
    margin-top: 1.5rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

.scroll__top {
  z-index: 10;
  position: fixed;
  right: 8px;
  width: 50px;
  height: 50px;
  bottom: 30px;
  border-radius: 50%;
  opacity: 0.6;
  text-align: center;
  line-height: 50px;
  transition: opacity 0.3s;
  box-shadow: 0px 0px 5px 1px;
  background: #605d63;
}

.scroll__top:hover {
  opacity: 1;
  cursor: pointer;
}

.display__none {
  display: none;
}
