* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #181d31;
  font-family: cursive;
  font-weight: 200;
  font-size: 16px;
}

:root {
  --index: 0;
}

i {
  color: inherit;
}

a {
  color: inherit;
  font-weight: bold;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 1px solid;
  background-color: transparent;
}
body {
  background-color: #f0e9d2;
}
.menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #678983;
  margin-top: 5px;
  border-radius: 6px;
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > .cont > .logo {
  display: flex;
  align-content: center;
  justify-items: center;
  padding: 0 20px;
}
.menu > .cont > .logo > a {
  display: flex;
  align-content: center;
  justify-items: center;
}
.menu > .cont > .logo > a > img {
  width: 140px;
  height: 40px;
}
.fa-bars,
.fa-bars-staggered {
  font-size: 20px;
  display: none;
  padding: 18px 20px;
  cursor: pointer;
}

.menu > .nav > ul {
  list-style: none;
  background-color: #678983;
  border-radius: 6px;
}
.menu > .nav > ul > li {
  display: inline-block;
}
.menu > .nav > ul > li > a {
  display: inline-block;
  padding: 18px 20px;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}
.menu > .nav > ul > li > a:hover {
  background: #181d31;
  color: #678983;
  animation: anim 0.5s ease-in-out;
  border-radius: 6px;
}
.active {
  border-bottom: 2px solid black;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 916px) {
  .menu > .nav {
    display: block !important;
  }
  .fa-bars {
    display: none !important;
  }
  .fa-bars-staggered {
    display: none !important;
  }
}
@media only screen and (max-width: 915px) {
  .menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu > .nav > ul > li {
    padding: 18px auto;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
  }
  li:has(> .active) {
    border-bottom: 2px solid black;
  }

  .active {
    border: none;
  }
  .menu > .nav > ul > li:hover,
  .menu > .nav > ul > li:hover i,
  .menu > .nav > ul > li:hover a {
    background: #181d31;
    color: #678983;
    animation: anime 0.5s ease-in-out;
    border-radius: 6px;
  }

  .menu > .nav {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .fa-bars-staggered {
    display: none;
  }

  .menu > .nav > ul > li {
    display: block;
  }

  @keyframes anime {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(7px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* /////////////////////////////////////////////////////////////////////// */
.foo {
  padding: 50px 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #f0e9d2;
  margin: auto;
}

/* /////////////////////////////////////////////////////////////////////// */

.content {
  width: 90%;
  margin: 30px auto;
  padding: 45px 60px;
  display: flex;
  align-items: center;
  background-color: #e6ddc4;
  flex-direction: column;
}

.content h1 {
  text-align: center;
  margin: 15px;
  font-size: 25px;
  font-weight: 700;
}
table {
  width: 80%;
}
table,
table tr td,
table tr th {
  border-collapse: collapse;
  padding: 10px;
}
table tr th {
  font-weight: 800;
}
table tr td {
  text-align: center;
}

tr:nth-child(odd) {
  background: #fff;
}
tr:nth-child(even) {
  background: #f0e9d2;
}

th {
  background-color: #72918b;
}
