* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #181d31;
  font-family: cursive;
  font-weight: 200;
  font-size: 16px;
}

:root {
  --index: 0;
}

i {
  color: inherit;
}

a {
  color: inherit;
  font-weight: bold;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 1px solid;
  background-color: transparent;
}
body {
  background-color: #f0e9d2;
}
.menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #678983;
  margin-top: 5px;
  border-radius: 6px;
}
.cont {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > .cont > .logo {
  display: flex;
  align-content: center;
  justify-items: center;
  padding: 0 20px;
}
.menu > .cont > .logo > a {
  display: flex;
  align-content: center;
  justify-items: center;
}
.menu > .cont > .logo > a > img {
  width: 140px;
  height: 40px;
}
.fa-bars,
.fa-bars-staggered {
  font-size: 20px;
  display: none;
  padding: 18px 20px;
  cursor: pointer;
}

.menu > .nav > ul {
  list-style: none;
  background-color: #678983;
  border-radius: 6px;
}
.menu > .nav > ul > li {
  display: inline-block;
}
.menu > .nav > ul > li > a {
  display: inline-block;
  padding: 18px 20px;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}
.menu > .nav > ul > li > a:hover {
  background: #181d31;
  color: #678983;
  animation: anim 0.5s ease-in-out;
  border-radius: 6px;
}
.active {
  border-bottom: 2px solid black;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 916px) {
  .menu > .nav {
    display: block !important;
  }
  .fa-bars {
    display: none !important;
  }
  .fa-bars-staggered {
    display: none !important;
  }
}
@media only screen and (max-width: 915px) {
  .cont {
    height: 8vh;
  }
  .menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu > .nav > ul > li {
    padding: 18px auto;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .menu > .nav > ul > li > a {
    width: 100%;
  }
  li:has(> .active) {
    border-bottom: 2px solid black;
  }

  .active {
    border: none;
  }
  .menu > .nav > ul > li:hover,
  .menu > .nav > ul > li:hover i,
  .menu > .nav > ul > li:hover a {
    background: #181d31;
    color: #678983;
    animation: anime 0.5s ease-in-out;
    border-radius: 6px;
  }

  .menu > .nav {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .fa-bars-staggered {
    display: none;
  }

  .menu > .nav > ul > li {
    display: block;
  }

  @keyframes anime {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(7px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* /////////////////////////////////////////////////////////////////////// */
.foo {
  height: 16vh;
  padding: 0 20px;
  align-items: center;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #f0e9d2;
  margin: auto;
}

/* /////////////////////////////////////////////////////////////////////// */
.content {
  height: 67vh;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  padding: 15px 60px;
  display: flex;
  justify-content: center;
  background-color: #e6ddc4;
  position: relative;
}

.content form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
input,
button {
  margin-top: 5px;
  padding: 5px;
  background-color: #f0e9d2;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.658);
  position: relative;
  z-index: 3;
}
textarea {
  width: 100%;
  resize: none;
  background-color: #f0e9d2;
  margin-top: 5px;
  padding: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.658);
  height: 200px;
  position: relative;
  z-index: 3;
}
input:focus,
textarea:focus {
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.la {
  margin-top: 20px;
}
button {
  width: 250px;
  max-width: 80%;
  margin: 20px auto;
  border-radius: 50px;
  background-color: #678983;
  color: #181d31;
  font-weight: 700;
  cursor: pointer;
}

.content .img {
  position: absolute;
  right: 0;
  bottom: -114px;
  z-index: 1;
  width: 300px;
}

button:hover {
  background-color: #181d31;
  color: #678983;
  transform: scale(1.05);
  transition: 0.25s all ease-in-out;
}
@media screen and (max-width: 920px) {
  .content {
    padding: 0 20px;
  }
  .foo {
    height: 19vh;
  }
  .content form {
    width: 95%;
  }
  .content .img {
    position: absolute;
    right: -30px;
    bottom: -68px;
    z-index: 1;
    width: 142px;
  }
}
